[submodule "salsa.debian.org_common-lisp-team_ecl"]
	path = salsa.debian.org_common-lisp-team_ecl
	url = https://salsa.debian.org/common-lisp-team/ecl.git
[submodule "gitlab.com_embeddable-common-lisp_ecl"]
	path = gitlab.com_embeddable-common-lisp_ecl
	url = https://gitlab.com/embeddable-common-lisp/ecl
